h1, h2 {
  color: #fff;
  font-family: sans-serif;
  margin-bottom: 30px;
  margin-top: -20px;
}

h1 {
  font-size: 22pt;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(100, 40, 40, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.overlay_main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/assets/piratebattle_background.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.logo {
  display: inline-block;
  width: 400px;
  margin-top: -30px;
  margin-bottom: 20px;
}

.containerMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 100px;
  min-width: 500px;
  background-image: url('/assets/ui/panel_menu.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.containerMenuBig {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 50px;
  min-width: 700px;
  background-image: url('/assets/ui/panel_menu_big.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.buttonBg {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 0px;
  background-color: transparent;
  background-image: url('/assets/ui/buttons/button_round_normal.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 15px;;
}

.buttonBg:hover {
  background-image: url('/assets/ui/buttons/button_round_hover.png');
}

.buttonImg {
  width: 70%;
  height: auto;
}

.paginationHistory {
  display: 'flex'; 
  justify-content: 'center';
  gap: '15px';
  align-items: 'center';
  margin-bottom: '15px';
}

.textPagination {
  display: inline-block;
  text-align: center;
  width: 300px;
  color: #fff;
  font-family: sans-serif;
  vertical-align: middle;
  height: 35px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;          /* Garante que os botões fiquem alinhados ao centro do container */
  gap: 15px;
  width: 100%;                  /* Ocupa a largura disponível para alinhar no meio */
}

.primaryButton {
  padding: 12px 20px;
  font-size: 11pt;
  font-weight: bold;
  color: #080808;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  transition: 0.2s;
  width: 200px;
  background-image: url('/assets/ui/buttons/button_primary_normal.png');
  background-position: center;
  background-size: cover;
  background-color: transparent;
  border: 0px;
}

.primaryButton:hover {
  background-image: url('/assets/ui/buttons/button_primary_hover.png');
}

.formGroup { 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7px; 
}

.label { 
  margin-bottom: 5px; 
  font-size: 14px;
  font-family: sans-serif;
  color: #fff;
}

.inputTextClass { 
  padding: 8px; 
  border-radius: 4px; 
  border: 0px; 
  border-radius: 7px;
  height: 25px;
  font-size: 12pt;
  text-align: center;
}


.listaInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.containerTable {
  display: block;
  float: left;
  width: 100%;
}

.tableRanking {
  width: 100%;
  margin-bottom: 20px;
}

.tableRanking th {
  font-weight: bold;
  font-size: 10pt;
  text-align: left;
  padding: 10px;
}

.tableRanking td {
  padding: 17px;
  border: 0px;
  background-color: #162633;
}

.gameOvertext {
  color: #fff;
  font-family: sans-serif;
  font-size: 16pt;
  font-style: italic;
}

.optionField {
  margin: '20px 0'
}

.lblname {
  color: #fff;
  font-family: sans-serif;
  font-size: 13pt;
  font-style: italic;
}

.alignCenter {
  text-align: center;
  align-items: center;
  width: 100%;
}

/* No seu App.css ou arquivo de estilos */
#rotate-warning {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  color: #fff;
  z-index: 99999;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
}

/* Mostra o aviso apenas se a tela for mais alta que larga (retrato) */
@media screen and (orientation: portrait) {
  #rotate-warning {
    display: flex;
  }
}